<p-toast></p-toast>
<p-fieldset *ngIf="'RoleSurMarche'|showable" legend="Affichage des informations - role_sur_marche" [toggleable]="true">
  <p-toolbar>
    <button *ngIf="'RoleSurMarche'|editable" type="button" class="btn btn-outline-warning pull-right ml-1"
      [routerLink]="['/'+role_sur_marcheSrv.getRoutePrefix(),role_sur_marche.id,'edit']"><i class="fa fa-pencil-square-o ml-1"></i>
      Modifier</button>
    <button *ngIf="'RoleSurMarche'|clonable" [routerLink]="['/'+role_sur_marcheSrv.getRoutePrefix(),role_sur_marche.id,'clone']" type="button"
      class="btn btn-outline-secondary pull-right ml-1">
      <i class="fa fa-clone" aria-hidden="true"></i> Cloner
    </button>
    <button *ngIf="'RoleSurMarche'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1" (click)="removeRoleSurMarche()"><i
        class="fa fa-trash-o"></i> Supprimer</button>
    <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
        class="fa fa-reply"></i> Retour</button>
  </p-toolbar>
  <p-tabView>
    <p-tabPanel header="Détails">
      <p-fieldset [legend]="role_sur_marche.id">
        <table class="table">
                    </table>
        <p-toolbar>
          <button *ngIf="'RoleSurMarche'|editable" type="button" class="btn btn-outline-warning pull-right ml-1"
            [routerLink]="['/'+role_sur_marcheSrv.getRoutePrefix(),role_sur_marche.id,'edit']"><i class="fa fa-pencil-square-o ml-1"></i>
            Modifier</button>
          <button *ngIf="'RoleSurMarche'|clonable" [routerLink]="['/'+role_sur_marcheSrv.getRoutePrefix(),role_sur_marche.id,'clone']" type="button"
            class="btn btn-outline-secondary pull-right ml-1">
            <i class="fa fa-clone" aria-hidden="true"></i> Cloner
          </button>
          <button *ngIf="'RoleSurMarche'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1" (click)="removeRoleSurMarche()"><i
              class="fa fa-trash-o"></i> Supprimer</button>
          <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
              class="fa fa-reply"></i> Retour</button>
          <button *ngIf="'RoleSurMarche'|showable" type="button" class="btn btn-secondary ml-1" (click)="refresh()">
              <i class="fa fa-refresh" aria-hidden="true"></i> Raffraichir les données
          </button>
        </p-toolbar>
      </p-fieldset>
    </p-tabPanel>
    <p-tabPanel header="Liste associée">
      
    </p-tabPanel>
  </p-tabView>
</p-fieldset>
