{%extends "emails/template.html.twig"%}
{% if user is defined  %} 
{% block  title %} Bonjour Mr/Mme {{user.prenom~' '~user.nom}} {% endblock %}
{% block  paragraphe1 %}Bienvenue dans <b>SICOFT</b>.<br> Votre compte a été créé avec succès.{% endblock %}
{% block  paragraphe2 %}Votre nom d'utilisateur est: {{user.username}}  <br> <br>
    Veuillez cliquer sur ce lien afin de confirmer la creation du compte: <a href="{{siteUrl}}"> {{siteUrl}} </a> <br>
{% endblock %}
{% block  paragraphe3 %} Merci de changer votre mot de passe après la première connexion. {% endblock %}
{% endif %}