{%extends "emails/template.html.twig"%}
{% block  title %} Bonjour {% endblock %}
{% block  paragraphe1 %}Bienvenue dans <b>SICOFT</b>.<br> Vous avez fait une demande de changement 
de mot de passe{% endblock %}
{% block  paragraphe2 %}Voici le lien de renitialisation du mot de passe: <a href="{{siteUrel}}">{{siteUrel}}</a> {% endblock %}
{% block  paragraphe3 %}Il vous sera demandé de changer votre mot de passe après la première connexion.{% endblock %}
