{%extends "emails/template.html.twig"%}
{% if user is defined  %} 
{% block  title %} Bonjour Mr/Mme {{user.prenom~' '~user.nom}} {% endblock %}
{% block  paragraphe1 %}Bienvenue dans <b>SICOFT</b>.<br> Vous avez fait une demande de réinitialisation de votre mot de passe.{% endblock %}
{% block  paragraphe2 %}  Veuillez cliquer sur ce lien et suivre les instructions: <a href="{{siteUrl}}"> {{siteUrl}} </a> <br>
{% endblock %}
{% block  paragraphe3 %} Merci de choisir un mot de passe robuste. {% endblock %}
{% endif %}